# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and secret files
.env
firebase-key.json

# Ignore VSCode settings (optional)
.vscode/

# Ignore OS/mac/Windows stuff
.DS_Store
Thumbs.db
